.grid-container{
    display:grid;
    grid-template-columns: 700px repeat(5,70px);
    column-gap: 50px;
    grid-auto-columns: minmax(100px,auto);
    background-color: rgb(12, 1, 19);
    border-bottom: 1px solid white;
    padding: 20px;
}

div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    word-spacing: 0.2em;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:  rgb(240, 129, 3);
}

a:hover{
    color: white;
}

a{
    color:rgb(240, 129, 3);
}


.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.box{
    flex: 1;
    width: 400px;
    height: 1000px;
    background-color: white;
    align-self:center;
    margin-top: 30px;
    border-radius: 30px;
    border: 2px solid rgb(240, 129, 3);
}

body{
    background-color: rgb(12, 1, 19);
}

h2{
    color: white;
    align-self: center;
    margin-top: 50px;
}

li{
    padding: 10px;
    font-size: medium;
}

button{
    padding: 10px;
    background-color: rgb(240, 129, 3);
    border-radius: 10px;
    align-self: center;
}

p{
    align-self: center;
}
