
body{
    background: rgb(240, 129, 3);

}

* {
    box-sizing:border-box;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.wrap{
    width: 400px;
    margin: auto;
    height: auto;
    background: rgb(12, 1, 19);
    padding: 15px;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    font-size: 70px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
}

input[type=button] {
    width: 89px;
    padding: 10px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
}

#del {
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

button{
    padding: 10px;
    background-color:rgb(12, 1, 19);
    border-radius: 10px;
    align-self: center;
}

a:hover{
    color:  rgb(240, 129, 3);
}

a{
    color: white;
    font-weight: bold;
}




p{
    align-self: center;
}